/*

// Feuille de style SCSS du site de OhMyFood

    ==============
    Variables SCSS
    ==============

    - Variables SCSS principales du site

*/

// Variables de couleurs

$primary--color : #9356DC;
$secondary--color : #FF79DA;
$tertiary--color : #99E2D0;

$white : #ffffff;
$light-grey : #F6F6F6;
$grey : #EAEAEA;
$dark-grey : hsl(0, 0%, 25%);

// Variables de polices d'écriture

$title--font : 'Shrikhand', 'Cambria', serif;
$text--font : 'Roboto', 'Arial', sans-serif;

// Variables de tailles de police relatives aux écrans

$base--font-size : 18px;

// Variables de tailles de police

$small--text : 0.95em;

// Variables de propriétés récurrentes

$card--radius : em-calc(15);
$card--shadow : em-calc(2) em-calc(4) em-calc(10) rgb(0 0 0 / 15%);

// Transitions

$smooth-card-transition : all 0.3s ease-out;