.primary-btn {
    border: none;
    display: block;
    margin: 0 auto;
    min-width: em-calc(200);
    font-size: 0.85em;
    font-weight: bold;
    padding: em-calc(20) em-calc(25);
    border-radius: em-calc(100);

    color: $white;
    background-image: linear-gradient(-10deg, $primary--color 0%, $secondary--color 100%);
}