.restaurant-section {
    @include x-container;

    padding-top: em-calc(50);
    padding-bottom: em-calc(50);
    background-color: $light-grey;
}

.restaurant-card {
    background-color: $white;
    border-radius: $card--radius;
    box-shadow: $card--shadow;
    overflow: hidden;
    margin-top: em-calc(25);
    position: relative;

    & a {
        text-decoration: none;
    }

    &__thumbnail {
        background-color: $dark-grey;
        height: em-calc(175);
    }
}

.restaurant-card__infos {
    padding: em-calc(10) em-calc(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-grey;

    &-text {

        &--name {
            font-weight: bold;
        }
    }
}

.restaurant-card__infos--fav {
    font-size: 1.4em;
    color: inherit;
    position: relative;
    z-index: 5;

    .full {
        display: none;
        background-image: linear-gradient(-10deg, $primary--color 0%, $secondary--color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .empty {
        display: block;
    }

    &:hover {
        .full {
            display: block;
        }

        .empty {
            display: none;
        }
    }

    &:active {
        transform: scale(0.9);
        transition: all 0.2s ease;
    }
}

// Nouveaux restaurants

.restaurant-card.new::after {
    content: "Nouveau";
    position: absolute;
    padding: em-calc(5) em-calc(10);
    top: em-calc(20);
    right: em-calc(20);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: em-calc(2.5);
    color: #008766;
    background-color: #99e2d0;
}