.searchform {
    @include x-container;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: em-calc(15);

    height: em-calc(50);

    color: $dark-grey;
    background-color: $grey;
}

.searchform--input {
    width: em-calc(140);

    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;

    color: inherit;
    background-color: transparent;

    &::placeholder {
        color:inherit;
    }
}

