.steps-section {
    @include x-container;

    padding-top: em-calc(50);
    padding-bottom: em-calc(50);
}

.steps-section__list {
    margin-top: em-calc(25);
}

.steps-section__list--item {

    list-style: none;
    box-shadow: $card--shadow;
    border-radius: $card--radius;
    background-color: $light-grey;
    padding: em-calc(30);
    font-weight: bold;
    margin-left: em-calc(15);
    position: relative;

    &:not(:last-child) {
        margin-bottom: em-calc(30);
    }

    &::after {
        content: attr(data-count);
        position: absolute;
        background-color: $primary--color;
        color: $white;
        font-weight: normal;
        left: em-calc(-15);
        top: 50%;
        transform: translateY(-50%);
        width: em-calc(30);
        height: em-calc(30);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    i {
        color: $dark-grey;
        margin-right: em-calc(20);
        opacity: 0.75;
        width: em-calc(20);
    }

}

